<!-- Page Styles-->
<link href="./css/about.css" rel="stylesheet"/>

<div class="main">
    <div class="space"></div>
    <div class="container tim-container">
        <h1 class="text-center">ABOUT ME</h1>
        <h2 class="text-center"></h2>
        <p>Curabitur lacinia est accumsan iaculis vulputate. Mauris vulputate eget lorem ut egestas. Duis in venenatis tortor, ut vehicula erat. Pellentesque fringilla tristique ligula, nec bibendum tortor molestie ac. Curabitur faucibus vulputate urna eu aliquam. Nam et augue cursus, porttitor elit ut, dignissim sapien. Sed massa turpis, dictum ac mauris ac, sollicitudin pulvinar justo. Sed eu posuere nisi, id porta massa. Pellentesque eleifend mattis gravida. Fusce a turpis mi.</p>
    </div>
    <div class="space"></div>
</div>
