<!-- Page Styles-->
<link href="./css/home.css" rel="stylesheet"/>

<div class="main">
    <div class="space"></div>
    <div class="container tim-container">
        <h1 class="text-center" id="heading-top">Charles Corrales</h1>
        <h1 class="text-center" id="heading-bottom">PORTFOLIO</h1>
        <h2 class="text-center">Avid Photographer | Adventurer | Entrepreneur</h2>
        <div style="text-align: center">
            <img src="img/portraits/me.jpg" alt="SelfPortrait" style="width:700px;height:700px;">
        </div>
    </div>
    <div class="space"></div>


</div>

