<!-- Page Styles-->
<link href="./css/home.css" rel="stylesheet"/>

<div class="main">
    <div class="space"></div>
    <div class="container tim-container">
        <h1 class="text-center" id="heading-top">THIS IS A CLEAN-ASS</h1>
        <h1 class="text-center" id="heading-bottom">PORTFOLIO</h1>
        <h2 class="text-center">this is a subtitle nig</h2>
        <p>Aenean ipsum ligula, tempus in faucibus sit amet, molestie et ante. Donec sed orci in risus porttitor fermentum. Curabitur ut ex nec arcu lobortis ultricies sed sed orci. Maecenas laoreet turpis augue, sit amet scelerisque turpis gravida sed. Donec auctor est quam, quis ornare dui pulvinar a. Sed dapibus fringilla nisl, sed dignissim orci gravida sit amet. Suspendisse dictum eget nibh ac congue. Morbi fermentum fermentum hendrerit. Nam vel ante ac orci venenatis pretium a et leo. Cras vitae luctus ante. Sed sodales ut tortor at vestibulum. Praesent volutpat sem id nunc scelerisque, ut bibendum diam feugiat. Sed luctus ex faucibus interdum tincidunt.</p>
    </div>
    <div class="space"></div>

    <!-- Card List -->
    <div class="wrapper">
        <div class="container">
            <div class="masonry-container">

                <!-- Card -->
                <div class="card-box col-md-4 col-sm-6">
                    <div class="card card-with-border card-just-text" data-background="color" data-color="black" >
                        <div class="content">
                            <h4 class="title">"In the end we only <b>regret</b> the chances we didn't take."</h4>
                            <p class="description">- Hipster Quote</p>
                        </div>
                    </div>
                </div>

                <!-- Card -->
                <div class="card-box col-md-4 col-sm-6">
                    <div class="card">
                        <div class="header">
                            <img src="./img/cards/lifestyle-8.jpg"/>
                            <div class="filter"></div>
                            <div class="actions">
                                <button class="btn btn-round btn-fill btn-neutral btn-modern">
                                    Read Article
                                </button>
                            </div>
                        </div>
                        <div class="content">
                            <h6 class="category">News</h6>
                            <h4 class="title"><a href="#">Try the new hairstyle from this Barber Shop </a></h4>
                            <p class="description">When selling products it's always a good idea to go with commanding fonts that are good at showing authority and security. I feel like Raleway and Roboto do just that.</p>
                        </div>
                    </div>
                </div>

                <!-- Card -->
                <div class="card-box col-md-4 col-sm-6">
                    <div class="card">
                        <div class="content">
                            <h6 class="category">Best stories</h6>
                            <h4 class="title"><a href="#">This is a plain Hipster Card, see for yourself</a></h4>
                            <p class="description">When selling products it's always a good idea to go with commanding fonts that are good at showing authority and security. I feel like Raleway and Roboto do just that.</p>
                        </div>
                    </div>
                </div>

                <!-- Card -->
                <div class="card-box col-md-4 col-sm-6">
                    <div class="card" data-background="image" data-src="./img/cards/lifestyle-2.jpg">
                        <div class="header">
                            <div class="category">
                                <h6 class="label label-warning">Trending Post</h6>
                            </div>
                            <div class="social-line" data-buttons="3">
                                <button class="btn btn-social btn-facebook">
                                    <i class="fa fa-facebook-square"></i> Share
                                </button>
                                <button class="btn btn-social btn-twitter">
                                    <i class="fa fa-twitter"></i> Tweet
                                </button>
                                <button class="btn btn-social btn-pinterest">
                                    <i class="fa fa-pinterest"></i> Pin
                                </button>
                            </div>
                        </div>
                        <div class="content">
                            <h4 class="title">Tobias Van Schneider is a German designer raised in Austria...</h4>
                            <p class="description">When selling products it's always a good idea to go with commanding fonts that are good at showing authority and security.</p>
                        </div>
                        <div class="filter"></div>
                    </div>
                </div>

                <!-- Card -->
                <div class="card-box col-md-4 col-sm-6">
                    <div class="card">
                        <div class="header">
                            <img src="./img/cards/beard-1.jpg" />
                            <div class="social-line social-line-visible" data-buttons="4">
                                <button class="btn btn-social btn-facebook">
                                    <i class="fa fa-facebook"></i>
                                </button>
                                <button class="btn btn-social btn-twitter">
                                    <i class="fa fa-twitter"></i>
                                </button>
                                <button class="btn btn-social btn-pinterest">
                                    <i class="fa fa-pinterest"></i>
                                </button>
                                <button class="btn btn-social btn-google">
                                    <i class="fa fa-google-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="content">
                            <h6 class="category">News</h6>
                            <h4 class="title">Use this card and see what you can achive</h4>
                            <p class="description">When selling products it's always a good idea to go with commanding fonts that are good at showing authority and security. I feel like Raleway and Roboto do just that.</p>
                        </div>
                    </div>
                </div>

                <!-- Card -->
                <div class="card-box col-md-4 col-sm-6">
                    <div class="card card-just-text card-with-border" data-background="image" data-src="./img/cards/lifestyle-9.jpg">
                        <div class="content">
                            <h4 class="title title-modern">"I liked nutella, triangles and outerspace way before hipsters."</h4>
                            <p class="description">- Not A Hipster</p>
                        </div>
                        <div class="filter"></div>
                    </div>
                </div>

                <!-- Card -->
                <div class="card-box col-md-4 col-sm-6">
                    <div class="card card-with-border" data-background="color" data-color="orange">
                        <div class="content">
                            <h6 class="category">Hot Article</h6>
                            <h4 class="title">
                                <a href="#"> Try the new hairstyle from this Barber Shop</a>
                            </h4>
                            <p class="description">When selling products it's always a good idea to go with commanding fonts that are good at showing authority and security. I feel like Raleway and Roboto do just that.</p>
                        </div>
                    </div>
                </div>

                <!-- Card -->
                <div class="card-box col-md-4 col-sm-6">
                    <div class="card card-just-text card-with-border" data-background="image" data-src="./img/cards/music-3.jpg">
                        <div class="content">
                            <div class="filter filter-red"></div>
                            <h4 class="title title-modern">"I like the way you work it. No diggity, I gotta bag it up."</h4>
                            <p class="description">- Chet Faker</p>
                        </div>
                        <div class="filter"></div>
                    </div>
                </div>

                <!-- Card -->
                <div class="card-box col-md-4 col-sm-6">
                    <div class="card" data-background="image" data-src="./img/cards/lifestyle-1.jpg">
                        <div class="header">
                            <div class="category">
                                <h6 class="label label-danger">Hipster Tag</h6>
                            </div>
                        </div>
                        <div class="content">
                            <h4 class="title title-uppercase"><a href="">Here can be your special title for this card</a></h4>
                            <p class="description">When selling products it's always a good idea to go with commanding fonts that are good at showing authority and security. I feel like Raleway and Roboto do just that.</p>
                        </div>
                        <div class="filter">
                        </div>
                    </div>
                </div>

                <!-- Card -->
                <div class="card-box col-md-4 col-sm-6">
                    <div class="card" data-background="color" data-color="black">
                        <div class="header">
                            <img src="./img/cards/home-1.jpg"/>
                            <div class="social-line" data-buttons="2">
                                <button class="btn btn-social">
                                    <i class="fa fa-facebook-square"></i> Share
                                </button>
                                <button class="btn btn-social">
                                    <i class="fa fa-twitter"></i> Tweet
                                </button>
                            </div>
                        </div>
                        <div class="content">
                            <h6 class="category">Interior Design</h6>
                            <h4 class="title"><a href="#">Hipster Apartment sold for $1.2 mil.</a></h4>
                            <p class="description">When selling products it's always a good idea to go with commanding fonts that are good at showing authority and security. I feel like Raleway and Roboto do just that.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space"></div>
</div>

<!-- Hipster As F*** Cards Scripts -->
<script src="./lib/hipster-cards/js/hipster-cards.js"></script>
<script>
    $().ready(function(){
        var $container = $('.masonry-container');
        doc_width = $(document).width();
        if (doc_width >= 768){
            $container.masonry({
                itemSelector        : '.card-box',
                columnWidth         : '.card-box',
                transitionDuration  : 0
            });
        } else {
            $('.mas-container').removeClass('mas-container').addClass('row');
        }
    });
</script>