<!-- Page Styles-->
<link href="./css/Portraits.css" rel="stylesheet"/>

<div class="main">
    <div class="space"></div>
    <div class="container tim-container">
        <h1 class="text-center"><b>CHARLES</b></h1>
        <h2 class="text-center"><b>PHOTOGRAPHY</b></h2>
        <div class="space"></div>
        <div style="text-align: center">
            <img src="./img/portraits/jessie.jpg" alt="SelfPortrait" style="width:750px;height:500px;">
        </div>
        <div class="space"></div>
        <div style="text-align: center">
            <img src="./img/portraits/jessiescarf.jpg" alt="SelfPortrait" style="width:750px;height:500px;">
        </div>
        <div class="space"></div>
        <div style="text-align: center">
            <img src="./img/portraits/lily.jpg" alt="SelfPortrait" style="width:750px;height:500px;">
        </div>
        <div class="space"></div>
        <div style="text-align: center">
            <img src="./img/portraits/scarf.jpg" alt="SelfPortrait" style="width:750px;height:500px;">
        </div>
        <div class="space"></div>
        <div style="text-align: center">
            <img src="./img/portraits/izze.jpg" alt="SelfPortrait" style="width:750px;height:500px;">
        </div>
        <div class="space"></div>
        <div style="text-align: center">
            <img src="./img/portraits/randy.jpg" alt="SelfPortrait" style="width:750px;height:500px;">
        </div>
        <div class="space"></div>
        <div style="text-align: center">
            <img src="./img/portraits/sarah.jpg" alt="SelfPortrait" style="width:750px;height:500px;">
        </div>
        <div class="space"></div>

    </div>


    <div class="space"></div>

</div>

