<!-- Page Styles-->
<link href="./css/Portraits.css" rel="stylesheet"/>

<div class="main">
    <div class="space"></div>
    <div class="container tim-container">
        <h1 class="text-center"><b>Portraits</b></h1>
        <div class="space"></div>
        <div style="text-align: center">
            <img src="img/portraits/jessie.tif" alt="SelfPortrait" style="width:750px;height:500px;">
        </div>
        <div class="space"></div>
        <div style="text-align: center">
            <img src="img/portraits/jessiescarf.tif" alt="SelfPortrait" style="width:750px;height:500px;">
        </div>
        <div class="space"></div>
        <div style="text-align: center">
            <img src="img/portraits/lily.tif" alt="SelfPortrait" style="width:750px;height:500px;">
        </div>
        <div class="space"></div>
        <div style="text-align: center">
            <img src="img/portraits/scarf.tif" alt="SelfPortrait" style="width:750px;height:500px;">
        </div>
        <div class="space"></div>
        <div style="text-align: center">
            <img src="img/portraits/izze.tif" alt="SelfPortrait" style="width:750px;height:500px;">
        </div>
        <div class="space"></div>
        <div style="text-align: center">
            <img src="img/portraits/randy.tif" alt="SelfPortrait" style="width:750px;height:500px;">
        </div>
        <div class="space"></div>
        <div style="text-align: center">
            <img src="img/portraits/sarah.tif" alt="SelfPortrait" style="width:750px;height:500px;">
        </div>
        <div class="space"></div>

    </div>


    <div class="space"></div>

</div>

